[Unit]
Description=My Lovely Service
After=network.target

[Service]
Type=idle
Restart=on-failure
User=root
ExecStart=/bin/bash -c 'cd /home/ec2-user/webservice && python3 src/service.py'

[Install]
WantedBy=default.target
